video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.container h1 {
  color: white;
  font-size: 50px;
  -webkit-text-stroke: 2px black;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/*boton*/

.link button {
  color: white;
  margin-top: 20px;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #a4060c;
  border: 2px solid black;
  transition: all 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.link button:hover {
  border: 2px solid white;
}

.link button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.form {
  width: 420px;
  height: 490px;
  background-image: url("../img/Backgrounds/Brick\ Block.jpg");
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 80px;
  align-items: center;
  text-align: center;
  border: 3px solid #7b241c;
}

.form:hover {
  border: 3px solid #f1c40f;
}

.items {
  margin-top: 30px;
}

.items label {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.items input {
  color: black;
  border: 2px solid #f1c40f;
  border-radius: 10px;
  padding: 10px 25px;
  background: white;
  max-width: 150px;
  margin-top: 5px;
}

.items input:active {
  box-shadow: 2px 2px 15px #4eddfa inset;
}

.items p {
  color: white;
}

.type {
  margin-top: 8px;
}

.type select {
  background-color: #9ff448;
  border: 2px solid black;
  border-radius: 5px;
}

.type select:hover {
  border: 2px solid white;
}

.delete {
  background-image: url("../img/Backgrounds/Brick\ Block.jpg");
}

.delete p {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.equis button {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.btn {
  margin-top: 20px;
  color: white;
  padding: 0.7em 1.7em;
  font-size: 20px;
  border-radius: 0.5em;
  background: #a4060c;
  border: 2px solid black;
  transition: all 0.3s;
}

.btn:hover {
  border: 2px solid white;
}

.btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
